<ion-header>
  <ion-toolbar>
    <ion-title>ລາຍກາຍອໍເດີ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-card>
      <ion-row>
        <ion-col size="5">
          <img src="../../assets/imgs/tets1.jpg" alt="">
        </ion-col>
        <ion-col size="7">
          <h3>ເຂົ້າປຽກ ໝູກອບ</h3>
          <div class="wapper">
            <p>ເບີໂຕະ : 12</p>
            <p>ສະຖານະ : <span style="color: goldenrod;"> ກຳລັງອໍເດີ</span></p>

          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size="5">
          <img src="../../assets/imgs/kenghet.jpg" alt="">
        </ion-col>
        <ion-col size="7">
          <h3>ແກງເຫັດ </h3>
          <div class="wapper">
            <p>ເບີໂຕະ : 12</p>
            <p>ສະຖານະ : <span style="color: goldenrod;"> ກຳລັງອໍເດີ</span></p>

          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size="5">
          <img src="../../assets/imgs/lapngua.jpg" alt="">
        </ion-col>
        <ion-col size="7">
          <h3>ລາບງົວ</h3>
          <div class="wapper">
            <p>ເບີໂຕະ : 22</p>
            <p>ສະຖານະ : <span style="color: goldenrod;"> ກຳລັງອໍເດີ</span></p>

          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size="5">
          <img src="../../assets/imgs/aoc.jpg" alt="">
        </ion-col>
        <ion-col size="7">
          <h3>ເອາະ ຊີ້ນໝູ</h3>
          <div class="wapper">
            <p>ເບີໂຕະ : 15</p>
            <p>ສະຖານະ : <span style="color: rgb(30, 221, 87);"> ເສີບເເລ້ວ</span></p>

          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>